*{

    box-sizing: border-box;
    

}

body{

    font-family: 'Roboto', sans-serif;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    min-height: 100vh;

    overflow: hidden;

    margin: 0;

    background-color: #efefef;

}



.container{

    display: flex;
    
    width: 90vw;

}



.slide{

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    height: 80vh;

    border-radius: 40px;

    flex: 0.5;

    position: relative;

    transition: flex 0.4s ease-in;

    cursor: pointer;

    margin: 10px;

    

}



.slide h3{

    position: absolute;

    bottom: 30px;

    left: 30px;

    opacity: 0;

    color: blanchedalmond;
   
    font-family: cursive;
    
}



.slide.active{

    flex: 4;
    

}

.slide.active h3{

    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
    
}

@media(max-width:480px){
    .container{

        width: 100vh;

    }

} 